@import './variables.scss';

.buy-sell-card-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	.line {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0.7em 0px;
		font-size: 1.1em;

		input {
			background-color: $input;
			border: none;
			padding: 0.5em;
			color: $text;
			font-size: 1em;
		}

		.buy {
			background-color: $action;
			color: $white;
			padding: 1em 4em;
			border: none;
			font-weight: bolder;
			cursor: pointer;
			box-shadow: 2px 2px 5px $text;
			transition: box-shadow 0.5s;
		}

		.sell {
			@extend .buy;
			background-color: $error;
		}

		.buy:hover, .sell:hover {
			box-shadow: none;
		}

		.-disabled {
			opacity: 0.5;
		}
		
		.errors {
			color: $error;
		}
	}
}