@import "./variables.scss";

.hold-stock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 2em;
  cursor: pointer;

  label {
	  cursor: pointer;
  }

  .name-container {
    display: flex;
    flex-direction: column;
    width: 30%;

    label:first-child {
	    margin-bottom: 0.5em;
    }
  }

  .price-container {
    display: flex;
    flex-direction: column;

    label:first-child {
	    margin-bottom: 0.5em;
    }

    .success {
      color: $success;
    }

    .error {
      color: $error;
    }
  }
}
