@import "./variables.scss";

body {
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    color: $text;

    .text-light {
      color: $text-light;
    }
}

.main {
  display: flex;
  flex-wrap: wrap;
  .card-container {
    width: 40%;
    margin: 5%;
  }
}

@import "./card.scss";
@import "./hold-stock.scss";
@import "./buy-sell-card.scss";
